[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/w3-total-cache"]
	path = content/plugins/w3-total-cache
	url = https://github.com/crowdfavorite-mirrors/wp-w3-total-cache.git
[submodule "content/plugins/yet-another-related-posts-plugin"]
	path = content/plugins/yet-another-related-posts-plugin
	url = https://github.com/crowdfavorite-mirrors/wp-yet-another-related-posts-plugin
[submodule "content/plugins/google-analytics-for-wordpress"]
	path = content/plugins/google-analytics-for-wordpress
	url = https://github.com/crowdfavorite-mirrors/wp-google-analytics-for-wordpress.git
[submodule "content/plugins/wordpress-seo"]
	path = content/plugins/wordpress-seo
	url = https://github.com/crowdfavorite-mirrors/wp-wordpress-seo.git
[submodule "content/plugins/better-wp-security"]
	path = content/plugins/better-wp-security
	url = https://github.com/bit51/Better-WP-Security.git
[submodule "content/plugins/check-email"]
	path = content/plugins/check-email
	url = https://github.com/crowdfavorite-mirrors/wp-check-email
